# Сборка
build/
build-*/
cmake-build-*/

# Conan
conaninfo.txt
conanbuildinfo.*
conanbuild.bat
conanrun.bat
conan_toolchain.cmake
CMakeUserPresets.json

# Среда разработки
.idea/
.vscode/
*.swp
*.swo

# Временные файлы
*.log
*.tmp
*.cache

# Windows
Thumbs.db
desktop.ini

# Скомпилированные файлы
*.exe
*.dll
*.so
*.dylib

# Папка с венв (если есть)
.venv/
venv/
